<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <style>
        body{
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }

        table  {
        width: 100%;
        border-collapse: collapse;
    }

    th, td {
        border: 1px solid #dddddd;
        padding: 8px;
        text-align: left;
    }

    th {
        background-color: #f2f2f2;
    }

    tr:nth-child(even) {
        background-color: #f2f2f2;
    }

    tr:hover {
        background-color: #ddd;
    } 
      
    h1 {
        text-align: center;
        margin-top: 50px;
    }

    .container {
        max-width: 400px;
        margin: 0 auto;
        padding: 20px;
        background-color: #fff;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    form {
        display: flex;
        flex-direction: column;
    }

    label {
        margin-bottom: 10px;
    }

    input[type="text"] {
        padding: 10px;
        margin-bottom: 20px;
        border: 1px solid #ccc;
        border-radius: 3px;
    }

    button[type="submit"] {
        padding: 10px;
        background-color: #007bff;
        color: #fff;
        border: none;
        border-radius: 3px;
        cursor: pointer;
    }

    button[type="submit"]:hover {
        background-color: #0056b3;
    }
    </style>
</head>
<body>
    <div>
        <h4>User Name :<%= locals.name %></h4>
    </div>
    <h1>URL Shortener</h1>
    <div class="container">
        <h4>Paste the URL to be shortened</h4>
        <form method="POST" action="/url">
            <label for="urlInput">Enter the Original Link</label>
            <input id="urlInput" name="url" type="text" placeholder="https://example.com"/>
            <button type="submit">Generate</button>
        </form>
    </div>
    <% if(locals.id){ %>
    <p>URL Generated : http://localhost:8002/url/<%= id %></p>
    <% }; %>
    <div>
        <% if(locals.urls){ %>
         <table>
            <thead>
                <th>S. No</th>
                <th>ShortID</th>
                <th>Redirect</th>
                <th>Clicks</th>
            </thead>
            <tbody>
                <% urls.forEach((url, index)=>{ %>
                    <tr>
                    <td><%= index+1 %></td>
                    <td><%= url.shortID %></td>
                    <td><%= url.redirectURL %></td>
                    <td><%= url.vistHistory.length %></td>
                    </tr>
                    <% }) %>
            </tbody>
         </table>
         <% } %>
    </div>
    
</body>
</html>